@import"./main.css";

body {
    font-family: var(--mainFont);
    background-color: #fff;
   
}

/* header  */

.header {

    background-color:#fff;
     position: sticky;
     top: 0;
    padding: 30px 0;

}

 .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

}

.logo img {

    width: 30px;
  

}

.logo a {

    color: var(--mainColor);

    font-family: var(--subFont);
    font-weight: 700;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;



}

.navbar a {
    color: black;
    text-transform: capitalize;


}



.navbar .first {

    font-weight: bold;

}

.navbar li {


    transition: transform 0.5s, background-color 0.5s;


}

.navbar li:hover {

    transform: scale(1.3);
    background-color: var(--mainColor);
}

.menue {
    display: none;
}

.header.buttons {

    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

.buttons a {

    font-weight: 700;
    padding: 5.3541765213012695px 35.18113136291504px;
    border-radius: 7px;
    font-family: var(--subFont);

}

.buttons .log {

    border: solid var(--mainColor) 1px;

}

 .buttons .reg {
    color: white;
    font-weight: bold;
    background-color: var(--mainColor);
    border: solid var(--mainColor) 1px;
}


/* header responsive */

@media screen and (max-width:1100px) {

    .navbar {
        display: none;

    }

    .menue{
        display: block;
        order: 1;
    }

  

}

@media screen and (max-width:660px){

     .header .buttons{

        display: none;
    }


 .container{

        width: calc(100% - 90px);
        margin: auto;
       
        
    }

}

@media screen and (max-width:320px){


    .menue{
        display: none;
    }

 
}








/* footer */

.footer{
    background-color: #393E46;
    color: #fff;

    padding: 60px 0;
}

.footer .row {

    gap: 80px;
}

.footer  a{

    color: white;
}

.footer h2{

    margin-bottom: 20px;
}

.start{

    width: 30%;

    display: flex;
   
    flex-direction: column;

    gap: 20px;
  
 flex-wrap: wrap;

   
}

.icons img{

    width: 30px;

    padding:5px;
}

.end{
 display: flex;
    flex-grow: 1;
justify-content: space-around;
flex-wrap: wrap;

  
}

.footer-item nav{

    display: flex;
    flex-direction: column;  
    gap: 10px; 
    flex-wrap: wrap;
}


/* footerresponsive */

@media screen and (max-width:1100px) {

   .start{
    width: 100%;
    text-align: center;
   }

   .footer .row{

    gap: 20px;
   }

}

@media screen and (max-width:700px){


    .footer-item{
       width: 50%;
       margin-bottom:20px;
       text-align: center;
    }

}

@media screen and (max-width:400px){

.end{

    flex-direction: column;

}

.footer-item{
    margin: auto;
    margin-bottom: 20px;
    
}

}


/* Testimonials  */

.Testimonials{

    background-color: #fff;
     padding: 100px 0;

}



.Testimonials h2{

    text-align: center;
    margin-bottom: 50px;
    
  font-size: 30px;
}


.Testimonial {

    padding: 40px ;
   
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
   
    display: flex;
    flex-direction: column;
     flex-wrap: wrap;
     gap: 10px;
    box-sizing: border-box;

    width: calc((100% - 30px)/2);
}

.star{

   color: #F1CC4A;
}
 .Testimonial  q {
    color: gray;
}
.Testimonials span{
    color: gray;
}
.profile{

    width: 40px;
    height:  40px;
    border-radius: 50%;
    transition: transform 0.5s, background-color 0.5s;
}



.profile:hover {

    transform: scale(1.5);
}
.profile-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


/* Testimonials responsive  */

@media screen and (max-width:700px){

    .Testimonial {

        width: 100%;
       
    }
    .Testimonials .row {

      gap: 20px;
       
    }
}

@media screen and (max-width:577px){

    .Testimonials h2{
        font-size: 25px;
    }
}



/* main-page */

.main-page {

    padding: 40px 0;
    background-color: #f5f5f5;
}

.description{

width: 50%;
display: flex;
flex-direction: column;

gap: 25px;


}
.description  p:first-of-type{

color: var(--mainColor);

font-family: var(--subFont);
}

.description p span:first-of-type{
    font-weight: bold;
    color: var(--mainColor);
}

.description h1 span{
    color: var(--mainColor);

}
.description h1{
    width: 65%;
    font-size: 50px;
}

.description p:last-of-type{
    width: 65%;
    color: #969696;
}

.main-page .buttons {

    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}

 .buttons .play{
    color: black;
    display: flex;
    gap:10px;
    align-items:center;
    
}
.buttons .play i{
    color: #F1CC4A;
  font-size: 28px;
  
}
.main-page .photo{
  flex-grow: 1;
 



}
.main-page img{
    width:80%;
}


/* main-page responsive */

@media screen and (max-width:1020px){

    .main-page img{
        width: 400px;
    }}
    @media screen and (max-width:980px){
       
        
        .description{
          width: 100%;
        }
        
        .main-page .photo{
            display: none;
        }
        .description h1{
            width: 100%;
           
        }
        
        .description p:last-of-type{
            width: 100%;

        }
    }
    @media screen and (max-width:577px){

        
        .description h1{
          
            font-size: 30px;
           
        }
    }
    @media screen and (max-width:430px){

        .main-page .buttons{
            flex-direction: column;
       
        }
       
    }

    /* content */
    .course-conetnt{
        padding: 80px 0;
    }
    
    .course-conetnt .row{
        gap: 20px;
        flex-wrap: nowrap;
    }
 
    .course-conetnt .content{
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 71%;
    }
    .course-conetnt h2{
        font-size:30px;
    }


.course-conetnt .content p:first-of-type{

  color: var(--mainColor);
  font-family: var(--subFont);
}

.course-conetnt .content p:last-of-type{
    color:#969696;
}
  .firs ,.second ,.third{

        background-color: var(--mainColor);

         padding: 40px 15px;

         border-radius: 10px;

         display: flex;
         flex-direction: column;
         gap: 20px;
         color: #fff;
        
    }

    .course-conetnt h3{
        font-family: var(--subFont);
    }

    .course-conetnt .row i {
        color: #F1CC4A;
        font-size: 25px;
        background-color: #fff;

        width: 30px;
        height: 30px;
        align-content: center;
       padding: 7px;
       border-radius: 50%;
    }

    .next{

        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-right: 70px;
    }
    .course-conetnt a i {
        color: #F1CC4A;
        margin-top: 40px;
       font-size: 25px;
    }

    /* course-conetnt responsive */

    @media screen and (max-width:1140px){

        .course-conetnt .content{
        width: 100%;
     }

     .course-conetnt .row{
       
        flex-wrap:wrap;

        gap: 20px;
    }

    .firs ,
    .second ,
    .third{
       
    width: 20%;
        
    }

    }

    @media screen and (max-width:630px){

        .firs ,
        .second ,
        .third{
           
        width: 100%;
            
        }
    }

    @media screen and (max-width:577px){

        .course-conetnt h2{
            font-size: 25px;
        }
    }











    /* statistics */


    .statistics{
        padding: 40px 0;
        background-color: var(--mainColor);
    }

    .statistics .photo{
        flex-grow: 1;
    }
    .statistics img{

        width:70%;
    }

    .statistics .details{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #fff;
    }
    .statistics .details span{
       
        color: #F1CC4A;
        font-family: var(--subFont);
    }
     .statistics h2{
        font-size:30px;
        width: 50%;
    }

     .details .info{
        width: 70%;
    }
   
    .details .row {
        
        text-align: center;
        font-family: var(--subFont);
          
        width: 70%;
    }

    .details .row h3{
        color: #F1CC4A;
        font-weight: 700;
        font-size: 25px;
    }


 /* statistics  responsive*/

 @media screen and (max-width:1070px){
  
    .statistics .details p:first-of-type{
        width: 100%;
    }
    .statistics h2{
      
        width: 100%;
    }

    .details .row {
        
      
        width: 100%;
    }
 }

 @media screen and (max-width:1020px){

    .statistics img{
        width: 400px;
    }

}
    @media screen and (max-width:980px){
       
        
        .statistics .details{
              width: 100%;
        }

         .statistics .photo{
            display: none;
        }

    
    }

    @media screen and (max-width:577px){
        .statistics  h2{
            font-size: 25px;
        }
        .details .row h3{
           
            font-size: 15px;
    }
    }

    @media screen and (max-width:370px){

        .details .row{
            gap: 10px;
        }

        .details .row div{
            width: 100%;
        }

     
  
}

